*.db
*.log
*.yaml~
secrets.yaml
__pycache__/
.vscode/
.cloud/
.storage/
custom_components/
backups/
blueprints/
home-assistant_v2.db
home-assistant.log*
deps/
www/
image/
.HA_VERSION
.DS_Store
tts
z2m
automations.yaml
/.idea
